* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./pattern.png');
    background-repeat: repeat;
    font-family: Roboto;
}

nav {
    width: 100%;
    /* height: 70px; */
    background-color: #00BFA6;
    /* text-align: center; */
    overflow: hidden;
    position: fixed;
}

nav ul {
    display: block;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 15px 35px;
}

nav ul li:hover {
    background-color: #00A092;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: black;
}

nav ul li.active {
    background-color: #00A092;
}

nav ul li.active a {
    color: black;
}

.nav-offset {
    height: 49px;
}

footer {
    width: 100%;
    background-color: #017D72;
}

footer #footer-content {
    margin-top: 100px;
    padding: 10px 10px;
    text-align: center;
    color: white;
}

#illustration {
    text-align: center;
    margin: 100px auto;
}

#illustration h1 {
    font-size: 32px;
}

#illustration img {
    margin: 25px auto;
}

#illustration p {
    font-size: 24px;
    font-weight: bold;
}
.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.products .entry {
    width: calc((100% - 9.6rem)/4);
}
ul {
    margin: 0 0 1.6rem;
    padding: 0;
    list-style-position: inside;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    margin-right: auto;
}
.product .entry {
    margin-bottom: 3.2rem;
}
.entry {
    margin-bottom: 3.2rem;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    background-color: #fff;
}
.product {
    list-style-type: none;
    flex-direction: column;
    
}
.products-header {
    height: 50px;
    margin-top: 100px;
    margin-left: 30px;
    width: 100%;
}
h1 {
    font-size: 2.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.add_to_cart_button {
    margin: 0 -10px .5em;
    padding: 1.6rem 2.4rem;
    transition: none;
}
.button {
    display: inline-block;
    width: auto;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: rgb(5, 135, 175);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.main {
    display: block;
}